{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list">Editar Horario</h1>

    {{ form(edit_form) }}
    <li>{{ form(delete_form) }}</li>

        <ul class="record_actions">
             <ul>
        <li class="list-tb">
            <a href="{{ path('horario') }}">
                <button class="button-new btn btn-primary">Volver a la lista </button>
            </a>
        </li>
       </ul>
 
   
</ul>
{% endblock %}
