{% extends '::base.html.twig' %}

{% block body -%}
     <h1 class="header-list">Nuevo Horario</h1>

    {{ form(form) }}

       <ul>
        <li class="list-tb">
            <a href="{{ path('horario') }}">
                <button class="button-new btn btn-primary">Volver a la lista</button>
            </a>
        </li>
       </ul>

{% endblock %}
