{% extends 'base.html.twig' %}

{% block body -%}
	{% if (app.session.get('login').usuario == '' )   %}
	{%  else %}
		<div class="centrado principal">
			<h1 class="header-list">Bienvenida(o) {{app.session.get('login').usuario }}</h1>
			<h3 class="header-list">Tu rol en el sistema es el de: {{app.session.get('login').rol}}</h3> 
			<h3 class="header-list">Tu carrera es: {{app.session.get('login').carrera}}</h3> 
			
			<br>
			<br>
			
			<img src="{{ asset('bundles/matrix/images/firma-ucr-ico.png') }}" />

		</div>
	{%  endif %}
{% endblock %}	