{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Curso-Requisito</h1>

    {{ form(form) }}

    <ul class="record_actions">
    	<li class="list-tb">
    	    <a href="{{ path('cursoRequisito') }}">
    	        <button class="button-new btn btn-primary">Lista de Requisitos</button>
    	    </a>
    	</li>
	</ul>
{% endblock %}
