{% extends '::base.html.twig' %}

{% block body -%}
     <h1 class="header-list">Curso-Requisito</h1>

    <table class="table-list table record_properties">
        <thead>
            <tr>                
                <th>Curso</th>                             
            </tr>
        </thead>
        <tbody>
            <tr>                       
                <td>{{ entity.id }}</td>       
            </tr>
        </tbody>

     </table>
     <ul class="record_actions">
        <li class="list-tb">
            <a href="{{ path('cursoRequisito') }}"><button class="button-new btn btn-primary">Volver a los Cursos</button></a>
        </li>
        <li class="list-tb">
            <a href="{{ path('cursoRequisito_edit', { 'id': entity.id }) }}"><button class="button-new btn btn-primary">Editar</button></a>
        </li>
        
        {{form(delete_form)}}

    </ul>


{% endblock %}
