{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list titulo-no-centrado">Curso Correquisitos</h1>

    <div class="list-group">
    {% for entity in entities %}
        <div class="fila">
            <a href="#" class="list-group-item activable info">
              {{ entity.curso ~ ' - ' ~ entity.corequisito }}
            </a>
            <a href="{{ path('cursoCorequisito_edit', { 'id': entity.id }) }}" class="opciones">
              <button class="list-group-item btn btn-custom">
                Editar
              </button>
            </a>
        </div>
    {% endfor %}
    <ul>
        <li class="list-tb">
            <a href="{{ path('cursoCorequisito_new') }}"><button class="button-new btn btn-primary">Crear nuevo Corequisito</button></a>
        </li>
    </ul>
    </div>
{% endblock %}
