{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list">Información del Grupo</h1>

    <table class="table-list table record_properties">
        <thead>
            <th>Numero de Grupo</th>            
        </thead>
        <tbody>            
            <td>{{ entity.numerogrupo }}</td>            
        </tbody>
    </table>

        <ul class="record_actions">
    <li class="list-tb">
        <a href="{{ path('grupo') }}">
            <button class="button-new btn btn-primary">Volver a los Grupos</button>
        </a>
    </li>
    <li  class="list-tb">
        <a href="{{ path('grupo_edit', { 'id': entity.id }) }}">
            <button class="button-new btn btn-primary">Editar</button>

        </a>
    </li>
    {{ form(delete_form) }}
</ul>
{% endblock %}
