{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list">Crear Carrera</h1>

    {{ form(form) }}

    <ul class="record_actions">
    <li class="list-tb">
        <a href="{{ path('carrera') }}">
            <button class="button-new btn btn-primary">Volver lista Carreras</button>
        </a>
    </li>
</ul>
{% endblock %}
