{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list">Editar Usuario</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li class="list-tb">
        <a href="{{ path('usuario') }}"><button class="button-new btn btn-primary">Volver a la Lista</button></a>
    </li>
    {{ form(delete_form) }}
</ul>
{% endblock %}
