{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li class="list-tb">
        <a href="{{ path('usuario') }}">
            <button class="button-new btn btn-primary">Volver lista Usuarios</button>
        </a>
    </li>
</ul>
{% endblock %}
