{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list">Administrar Grupos</h1>

    <div class="list-group">
    {% for entity in entity %}
        <div class="fila">
            <a href="#" class="list-group-item activable info">
              Grupo: {{ entity }}
            </a>
            <a href="{{ path('estudiantegrupo_asignarnoras', { 'id': entity.id }) }}" class="opciones">
              <button class="list-group-item btn btn-custom">
                Gestionar Notas
              </button>
            </a>
        </div>
    {% endfor %}

</table>
{% endblock %}