{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list">Asignar Nota</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li class="list-tb">
        <a href="{{ path('estudiantegrupo') }}">
            <button class="button-new btn btn-primary">Volver a la lista</button>
        </a>
    </li>
    {{ form(delete_form) }}
</ul>
{% endblock %}
