{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list">Notas</h1>

    <table class="table-list table records_list">
        <thead>
            <tr>
                <th>Nota</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nota }}</td>
                <td>
                <ul class="acciones-tb">
                    <li class="list-tb">
                        <a href="{{ path('estudiantegrupo_show', { 'id': entity.id }) }}"><button class="btn btn-default">Ver</button></a>
                    </li>
                    <li class="list-tb">
                        <a href="{{ path('estudiantegrupo_edit', { 'id': entity.id }) }}"><button class="btn btn-default">Editar</button></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<ul class="record_actions">
    <li class="list-tb">
        <a href="{{ path('estudiantegrupo_new') }}">
            <button class="button-new btn btn-primary">Volver a la lista</button>
        </a>
    </li>
</ul>

    {% endblock %}
