{% extends '::base.html.twig' %}

{% block body -%}

<h1 class="header-list">Grupos del Curso {{ curso.nombreCurso }}</h1>

    <div class="list-group">
    {% set grupo = -1 %}
    {% for e in entity %}
        {% if grupo != e.numerogrupo %}
        </ul>
        <hr class="separador">
            <div class="fila">
                <a href="#" class="list-group-item activable info">
                  <p class="titulo-grupo">Grupo Número: {{ e.numerogrupo }}</p>
                </a>
                <a href="{{ path('estudiantegrupo_matricula', { 'id': e.id }) }}" class="opciones">
                  <button class="list-group-item btn btn-custom">
                    Matricular
                  </button>
                </a>
            </div>
            <h4 class="titulo-horario-grupo">Horario</h4>
            <ul class="list-group">
            {% set grupo = e.numerogrupo %}
        {% endif %}
            <li class="list-group-item">
                {{ e.dia ~ ' desde ' ~ e.horainicio|date("H:i") ~ ' hasta ' ~ e.horafin|date("H:i") }}
            </li>
    {% endfor %}
    <hr class="separador">
{% endblock %}