{% extends '::base.html.twig' %}

{% block body -%}
<h1 class="header-list">Editar Horario de Grupos</h1>

 <ul class="record_actions">
     {{ form(edit_form) }}
     <ul>     	
     	{{ form(delete_form) }}
        <li class="list-tb">
            <a href="{{ path('horariogrupo') }}">
                <button class="button-new btn btn-primary">Volver a la lista </button>
            </a>
        </li>
 </ul>

{% endblock %}
